<% include ../partials/_header %>

<div class="col-md-6">
  <form action="/filter" method="post">
    <table class="table table-bordered table-hover col">
      <th>
        <input class="form-control" type="text" name="title" placeholder="Tarea" required>
      </th>
      <th>
        <input class="form-control" type="text" name="name" placeholder="Nombre" required>
      </th>
      <th>
        <button class="btn btn-info form-control " type="submit">Filtrar</button>
      </th>
    </table>
  </form>
</div>

<div class="container">
    <h3 align="center"> Tareas Asignadas </h3>
          <table class="table table-bordered table-hover col" style="height: 100px;">
            <thead class="bg-info" >
                <tr class="text-white ">
                    <th class="align-middle text-center">N°</th>
                    <th class="align-middle text-center">Nombre</th>
                    <th class="align-middle text-center">Celular</th>
                    <th class="align-middle text-center">Email</th>
                    <th class="align-middle text-center">Tarea</th>
                    <th class="align-middle text-center">Descripción Tarea</th>
                    <th class="align-middle text-center">Plazo Tarea</th>
                    <th class="align-middle text-center">Estado Plazo</th>
                    <th class="align-middle text-center">Prioridad</th>
                    <th class="align-middle text-center">Operaciones</th>
                </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < tasks.length; i++) { %>
                  <tr>
                    <td class="align-middle text-center"><%= i + 1%></td>
                    <td class="align-middle text-center"><strong><%= users[i].name %></strong></td>
                    <td class="align-middle text-center"><strong><%= users[i].phone %></strong></td>
                    <td class="align-middle text-center"><strong><%= users[i].email %></strong></td>
                    <td class="align-middle text-center"><strong><%= tasks[i].title %></strong></td>
                    <td class="align-middle text-center"><%= tasks[i].description %></td>
                    <td class="align-middle text-center"><%= moment(moment(tasks[i].date).add(1,'day')).format('DD-MM-YYYY') %> </td>
                    <td class="align-middle text-center">
                      <% if ((moment(moment(tasks[i].date).add(1,'day')).format('DD-MM-YYYY')) == (moment().format('DD-MM-YYYY'))){ %> 
                        <style>
                            h1.circuloamarillo {
                                  width: 40px;
                                  height: 40px;
                                  -moz-border-radius: 50%;
                                  -webkit-border-radius: 50%;
                                  border-radius: 50%;
                                  background: #ffff00;
                                  display : block;
                                  margin : auto;
                              }
                          </style>
                          <h1 class="circuloamarillo"></h1>
                      <% } else if ((moment(moment(tasks[i].date).add(1,'day')).format('DD-MM-YYYY')) > (moment().format('DD-MM-YYYY'))){ %>
                        <style>
                            h1.circuloverde {
                                  width: 40px;
                                  height: 40px;
                                  -moz-border-radius: 50%;
                                  -webkit-border-radius: 50%;
                                  border-radius: 50%;
                                  background: #008000;
                                  display : block;
                                  margin : auto;
                              }
                          </style>
                          <h1 class="circuloverde"></h1>
                      <% } else { %>  
                        <style>
                        h1.circulorojo {
                              width: 40px;
                              height: 40px;
                              -moz-border-radius: 50%;
                              -webkit-border-radius: 50%;
                              border-radius: 50%;
                              background: #ff0000;
                              display : block;
                              margin : auto;
                          }
                      </style>
                      <h1 class="circulorojo"></h1>
                      <% } %>
                   </td>
                    <td class="align-middle text-center"><% if (tasks[i].prioridad == 3){ %> Alta 
                        <% } else if (tasks[i].prioridad == 2){ %> Media
                        <% } else { %> Baja
                        <% } %>
                     </td>
                    <td >
                      <a
                        class="<%= tasks[i].status ? 'btn btn-success' : 'btn btn-dark'%>"
                        href="/turn/<%= tasks[i]._id %>">Completada</a>
                      <a href="/delete/<%= tasks[i]._id %>"
                        class="btn btn-danger">
                        Eliminar</a>
                      <a href="/edit/<%= tasks[i]._id %>/<%= users[i]._id %>" 
                        class="btn btn-info">
                        Editar</a>
                    </td>
                  </tr>
                <% } %> 
            </tbody>
          </table>
        </div>
        <div class="row">
                <% if(pages > 0) { %>
                  <nav class="mx-auto">
                    <ul class="pagination">
                      <% if(current == 1) { %>
                        <li class="page-item disabled">
                          <a class="page-link" href="#">Primero</a>
                        </li>
                      <% } else { %>
                        <li class="page-item">
                          <a class="page-link" href="/tasks/1">Primero</a>
                        </li>
                      <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                      <% if(i !== 1) { %>
                        <li class="page-item disabled">
                          <a class="page-link" href="#">...</a>
                        </li>
                      <% } %>
                      <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if(i == current) { %>
                          <li class="page-item active">
                            <a class="page-link" href="<%= i %>">
                              <%= i %>
                            </a>
                          </li>
                        <% } else { %>
                          <li class="page-item">
                            <a class="page-link" href="/tasks/<%= i %>">
                              <%= i %>
                            </a>
                          </li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                           <li class="page-item disabled">
                             <a class="page-link" href="#">...</a>
                           </li>
                        <% } %>
                      <% } %>
                      <% if(current == pages) { %>
                        <li class="page-item disabled">
                          <a class="page-link" href="#">
                            Último
                          </a>
                        </li>
                      <% } else { %>
                        <li class="page-item">
                          <a class="page-link" href="/tasks/<%= pages %>">
                            Último
                          </a>
                        </li>
                      <% } %>
                    </ul>
                  </nav>
                <% } %>
              </div>

<% include ../partials/_footer %>