<% include partials/_header %>

<div class="container">
  <div class="row">
    <!--FORM-->
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form action="/edit/<%= task._id %>" method="post">
            <h3 align="center">Editar Tarea</h3>
            <div class="form-group">
              <input class="form-control" type="text" name="name" placeholder="Nombre" value="<%= user.name %>">
            </div>
            <div class="form-group">
              <input class="form-control" type="number" name="phone" placeholder="Celular" value="<%= user.phone %>">
            </div>
            <div class="form-group">
              <input class="form-control" type="email" name="email" placeholder="Email" value="<%= user.email %>">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="title" placeholder="Tarea" value="<%= task.title %>">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="description" cols="80"
                placeholder="Descripción Tarea"
                ><%= task.description %></textarea>
            </div>
            <div class="form-group">
              <h5>Plazo Tarea </h5>
              <input class="form-control" type="date" name="date" placeholder="Plazo Tarea">
            </div>
            <div class="form-group">
                <h5>Prioridad</h5>
                    <select class="form-control" type="number" name="prioridad">
                            <option value="3">Alta</option>
                            <option value="2">Media</option>
                            <option value="1">Baja</option>
                          </select>
            </div>
            <button class="btn btn-success form-control " type="submit">
              Actualizar 
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer%>